// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* COMMONS ROULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* UTILITIES */

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* HEADER */


/* MAIN */

h1 {
    text-align: center;
}


/* FOOTER */